{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 col-xl-1">
            <h2 class="text-center">Filters</h2>
            <h4> TTL:</h4>

            <div class="list-group">
              <button id="button_none" type="button" class="list-group-item list-group-item-action active button_filter">
                  None
              </button>
              <button id="button_hour" type="button" class="list-group-item list-group-item-action button_filter">
                  Hour
              </button>
              <button id="button_day" type="button" class="list-group-item list-group-item-action button_filter">
                  Day
              </button>
              <button id="button_week" type="button" class="list-group-item list-group-item-action button_filter">
                  Week
              </button>
            </div>
        </div>


        <div id="random_file_list" class="col-sm-9 col-md-10 col-xl-11">
            {% include 'common/new_random_files.html' %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $("#button_hour").click(function() {
        $(this).addClass('active').siblings().removeClass('active');
      $('#random_file_list').load(
        "{% url 'new_random_files' %}?ttl=hour"
      );
    });
     $("#button_day").click(function() {
         $(this).addClass('active').siblings().removeClass('active');
      $('#random_file_list').load(
        "{% url 'new_random_files' %}?ttl=day"
      );
    });
     $("#button_week").click(function() {
         $(this).addClass('active').siblings().removeClass('active');
      $('#random_file_list').load(
        "{% url 'new_random_files' %}?ttl=week"
      );
    });
     $("#button_none").click(function() {
         $(this).addClass('active').siblings().removeClass('active');
      $('#random_file_list').load(
        "{% url 'new_random_files' %}?ttl=none"
      );
    });
</script>
{% endblock %}