{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2">
            <h2 class="text-center">Filters</h2>
            <h4> TTL:</h4>

            <div class="list-group">
              <button id="button_all" name="all" type="button" class="list-group-item list-group-item-action active button_filter">
                  All
              </button>
              <button id="button_hour" name="hour" type="button" class="list-group-item list-group-item-action button_filter">
                  Hour
              </button>
              <button id="button_day" name="day" type="button" class="list-group-item list-group-item-action button_filter">
                  Day
              </button>
              <button id="button_week" name="week" type="button" class="list-group-item list-group-item-action button_filter">
                  Week
              </button>
            </div>
        </div>


        <div id="random_file_list" class="col-sm-8 col-md-9 col-lg-10" url="{% url 'new_random_files' %}">
            {% include 'common/new_random_files.html' %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    {% load static %}
    <script src="{% static 'js/load_new_random_files.js' %}"> </script>
{% endblock %}