{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-1">
            <h2 class="text-center">Filters</h2>
            <h4> Del time</h4>
        </div>


        <div class="col-sm-9 col-md-10 col-lg-11">
            {% if object_list %}
            <ul>

              {% for file in object_list %}
              <li>
                {{file}}
              </li>
              {% endfor %}

            </ul>
            {% else %}
              <p>There are no such files.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}