{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-md-center align-items-center">
            <div class="col-md-6 alert alert-danger" role="alert">
                <h4 class="alert-heading">Sorry, account activation token is invalid!</h4>
                <p>
                    What's the matter? Maybe your token is no longer valid(token is actual for 2 days, after this
                    it delete) or you have mistake in token value.
                </p>
                <hr>
                <p class="mb-0">
                    Check your token or try repeat
                    <a href="{% url 'signup'%}" class="text-dark"> registration </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}