{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="row justify-content-md-center align-items-center">
        <div class="col-md-6">
            <h1>Upload file</h1>

            <hr>

            {% if file_url %}
                <div class="alert alert-success" role="alert">
                    File <a href="{{ file_url }}">"{{ file_name }}"</a> upload success.
                </div>
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="file" class="form-control-file" id="file" required/>
                </div>

                 <hr>

                <div>
                    <button type="submit" class="btn btn-secondary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}